body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.nav > li > a:hover {
    border-bottom: 4px solid #E57D69;
    background-color: inherit; }