// css
link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
link(rel='stylesheet', href='/assets/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/assets/css/main.css')
//link(rel="stylesheet/less" type="text/css" href="/assets/css/main.less")



// js
script(src='bin/js/vendor.js')
